.Container{
    background-color:lightgray;
    width:100%;
    height:95%;
    position: absolute;
    top: 100px;
}

.img{
    margin-top: 5%;
    height: 30%;
    border-radius: 70%;
    width: 15%;
}

.title{
    margin-top: 5%;

}
.description{
    margin-top: 5%;
    font-weight: lighter;
}