.footer {
    background-color: orange;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    top: 100%;
    position: absolute;
    align-items: center;
}